.cardcont{
    border: 1px solid black;
    margin: 5px;
    background-color: #31304D;
    border-radius: 10px;
    color: white;
}
.editicn,.trashicn{
    margin: 5px 15px;
    display: inline-block;
    padding: 5px;
}
.editcardbtn{
    text-align: center;
    padding: 15px;
    background-color: rgb(6, 180, 6);
    color: white;
    border-radius: 20px;
    font-weight: bold;
}
.cardtitle{
    font-weight: bolder;
    font-size: large;
}